body {
font-family: 'Open Sans', sans-serif;
}

.routing {
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
}

/* home styling BEGINS */
/* img cover */

.home-img {
    position: absolute;
    top: 0;
    right: 0;
    max-height: 100vh;
    min-height: 100%;
    min-width: 1440px;
    width: 100%;
    height: auto; 
}

.home-overlay {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(74, 189, 172, .6);
}

.home-body-container {
    margin: 50px;
}

.home-container {
    z-index: 10;
    position: absolute;
    top: 0;
}

/* logo styling */
.logo {
    position: absolute;
    left: 10px;
    margin-top: 5px;
    font-size: 25px;
    color: #DFDCE3;
}

span {
    font-family: 'Zilla Slab', serif;    
    font-weight: 700;
    font-size: 30px;
    width: 200px;
}

/* tag line stying */
h1 {
    font-family: 'Zilla Slab', serif;    
    font-weight: 700;
    font-size: 80px;
    width: 200px;
    color: #DFDCE3;
    margin: 50px 15px 15px 30px;;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
}

/* home input styling */
.home-input, .home-button {
    width: 200px;
    margin: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding: 15px;
    border: none;
    border-radius: 100px;
    background-color: rgb(223, 220, 227);
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.5);
}

.home-button {
    text-transform: uppercase;
    background-color: rgb(236, 91, 51);
    color: white;
    width: 230px;
    height: 55px;
    transition-duration: 0.8s;
}

.home-button:hover {
    background-color: rgb(247, 183, 51);
    cursor: pointer;
}

/* suggested search styling */

h2 {
    margin: 50px 0px 18px 10px;
    color: white;
    font-family: 'Zilla Slab', serif;
    font-size: 35px;
    font-weight: 400;
}

.suggest-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.suggest {
    margin: 5px;
    padding: 10px;
    color: white;
    border: 1px solid rgba(255, 255, 255, .65);
    border-radius: 100px;
    background-color: rgba(223, 220, 227, .2);
    transition-duration: 0.8s;

}

.suggest:hover {
    cursor: pointer;
    color: rgb(223, 220, 227);
    border: 1px solid rgba(247, 183, 51, .6);
    background-color: rgba(247, 183, 51, .8);
    cursor: pointer;
}

/* home styling ENDS */

/* event and bucket list styling BEGIN */
.section-container {
    position: absolute;
    top: 380px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.displaying {
    margin: 0;
    text-decoration: none;
    position: absolute;
    left: 0;
    font-size: 13px;
    transition: 0.3s;
}

.card {
    background-color: #f2f3f8;
    border-left: 4px solid rgb(74, 189, 172);
    border-bottom: 1px solid rgb(204, 209, 208);
    border-right: 1px solid rgb(233, 238, 237);
    border-radius: 5px;
    width: 80%;
    min-height: 125px;
    margin: 5px 0;
    transition: 0.3s;
}

.flex-event {
    height: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card:hover {
    background-color: #e1e2e7;
}

.date  {
    width: 15%;
    margin-left: 15px;
    font-size: 14px;
}

.location {
    font-size: 14px;
    width: 25%;
    margin: 5px;
}

.event {
    font-size: 14px;
    width: 35%;
    margin: 5px;
    text-overflow: ellipsis;
}

i {
    margin: 20px;
}

i:hover {
    cursor: pointer;
    color: rgb(236, 91, 51);
}

.favorite {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    min-width: 100px;
    width: 15%;
    height: 45px;
    margin: 0 15px 0 5px;
    background-color: rgb(236, 91, 51);
    transition-duration: 0.8s;
    color: white;
    border-radius: 100px;
    border: none;
    padding: 0 10px;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
}

.favorite:hover {
    background-color: rgb(247, 183, 51);
}

.toggle-container {
    position: relative;
    width: 80%;
    margin: 20px;
}

.toggle-events {
    text-decoration: none;
    color: rgb(236, 91, 51);
    font-family: 'Zilla Slab', serif;    
    font-weight: 700;
    position: absolute;
    right: 0;
    font-size: 15px;
    transition: 0.3s;
}

.ext-title {
    color: grey;
    font-family: 'Zilla Slab', serif;    
    font-weight: 700;
    letter-spacing: 2px;
}

.ext-tickets {
    text-decoration: none;
    color: rgb(236, 91, 51);
    font-family: 'Zilla Slab', serif;    
    font-weight: 700;
    font-size: 15px;
    transition: 0.3s;
}

.toggle-events:hover, .ext-tickets:hover {
    color: rgb(247, 183, 51);
}


/* search styling */
/* img cover */

.search-img {
    background-image: url("images/shorter-hero-concert.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    height: 380px;
    width: 100%;
}

.search-overlay {
    position: absolute;
    top: 0;
    right: 0;
    height: 380px;
    width: 100%;
    background-color: rgba(74, 189, 172, .6);
}

.search-body-container {
    margin: 50px;
}

.search-container {
    z-index: 10;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* header styling */

.search-header {
    font-size: 50px;
    width: 100%;
}

/* home input styling */
.search-input, .search-button {
    width: 150px;
    margin: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding: 10px;
    border: none;
    border-radius: 100px;
    background-color: rgb(223, 220, 227);
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.5);
}

.search-button {
    text-transform: uppercase;
    background-color: rgb(236, 91, 51);
    transition: 0.3s;
    color: white;
    width: 170px;
    height: 43px;
    transition-duration: 0.8s;
}


.search-button:hover {
    background-color: rgb(247, 183, 51);
    cursor: pointer;
}

/* Styling for see more info */
.extended-info {
    margin: 0 20px;
    border-top: 1px dotted rgb(211, 208, 208);
    display: flex;
    justify-content: space-around;
}

.address, .tickets {
    width: 40%;
    padding: 0 10px;
    margin-bottom: 10px;
}

.ext-event {
    margin: 5px 0 20 0;
    font-size: 12px;
} 

.hidden {
    display: none;
}

/* media query */

@media screen and (max-width: 600px) {

    /* home styling BEGIN */
    .home-body-container, h1 {
        width: 100vw;
        margin-left: 10px;
    }

    .suggest-container, h2 {
        display: none;
    }

    .home-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center; 
        margin: 10px;
    }

    .home-input {
        width: 73%;
        height: 30px;
        margin-bottom: 15px;
    }

    .home-button {
        width: 81%;
        height: 60px;
    }

    .search-img, .search-overlay {
        height: 525px;
    }

    .section-container {
        top: 525px;
    }

    /* home styling media query END */
  

}
