<section class="search-img">
    <section class="search-overlay"></section>
</section>
<section class="search-container">
    <header>
        <p ng-click="$ctrl.navHome();" class="logo"><span>Event</span>Scout</p>
    </header>
    <section class="search-body-container">
        <section>
            <h1 class="search-header">
                Explore,
                Find,
                Connect.
            </h1>
            <form ng-submit="$ctrl.passSearch(search);" class="search-form">
                <input ng-model="search.searchKeyword" class="search-input" type="text" placeholder="Search event...">
                <input ng-model="search.postalCode" class="search-input" type="text" placeholder="ZIP code">
                <input ng-model="search.localDate" class="search-input" type="date">
                <button class="search-button">Submit</button>
            </form>
        </section>
    </section>
</section>
<section class="section-container">
    <section class="toggle-container">
        <p class="displaying">Displaying {{ $ctrl.recieveBucket.length }} results...</p>
        <a class="toggle-events" href="#!/event-list">Event List</a>
    </section>
    <section class="card" ng-repeat="event in $ctrl.recieveBucket track by $index">
        <section class="date">
            <p class="month-date">{{ event.dates.start.localDate }}</p>
        </section>
        <p class="location">{{ event._embedded.venues["0"].name }}</p>
        <p class="event">{{ event.name }}</p>
        <p ng-click="$ctrl.removeEvent($index)"><i class="material-icons">close</i></p>
    </section>
</section>