<section class="section-container">
    <section class="toggle-container">
        <a class="toggle-events" href="#!/bucket-list">Bucket List</a>
    </section>
    <section class="card" ng-repeat="event in $ctrl.receivedData track by $index">
        <section class="date">
            <p class="month-date">{{ event.date }}<</p>
        </section>
        <p class="location">Chicago, IL - Location</p>
        <p class="event">{{ event.event }}</p>
        <button class="favorite">Save Event</button>
    </section>
</section>