<section class="section-container">
    <section class="toggle-container">
        <a class="toggle-events" href="#!/bucket-list">Bucket List</a>
    </section>
    <section class="card" ng-repeat="event in $ctrl.receivedData track by $index">
        <section class="date">
            <p class="month-date">{{ event.dates.start.localDate }}</p>
        </section>
        <p class="location">{{ event._embedded.venues["0"].name }}</p>
        <p class="event">{{ event.name }}</p>
        <button class="favorite">Save Event</button>
    </section>
</section>