<section class="home-container">
    <section class="home-body">
        <header-tool></header-tool>
        <section class="greeting">
            <h1><span class="smaller">Hello.</span> <span class="color1">I</span><span class="color2">'</span><span class="color3">m</span> <span class="color4">E</span><span class="color5">r</span><span class="color6">i</span><span class="color7">c</span><span class="color8">a</span><span class="color9">.</span></h1>
            <p class="body-text">I'm a photographer turned graphic designer turned front-end developer. What can I say? I like to create. I aim to create immersive and beautiful web applications with a focus on user-centered design.</p>
            <button onClick="window.open('https://github.com/ComeAlongErica');">GitHub</button>

        </section>
    </section>
    <section class="image-container">
    </section>
</section>