<img src="images/33145981200_b4a39a0c2f_o.jpg" class="home-img">
<section class="home-overlay"></section>
<section class="home-container">
    <header>
        <p class="logo"><span>Event</span>Scout</p>
    </header>
    <section class="home-body-container">
    <section>
        <h1>
            Explore,
            Find,
            Connect.
        </h1>
        <form ng-submit="$ctrl.passSearch(search);" class="home-form">
            <input ng-model="search.searchKeyword" class="home-input" type="text" placeholder="Search event...">
            <input ng-model="search.postalCode" class="home-input" type="text" placeholder="ZIP code">
            <input ng-model="search.localDate" class="home-input" type="date">
            <button class="home-button">Submit</button>
        </form>
        <h2>I'm feeling...</h2>
        <div class="suggest-container">
            <a ng-click="$ctrl.passDefined({searchKeyword: 'Music', postalCode: '48201'});" class="suggest">Live Music</a>
            <a ng-click="$ctrl.passDefined({searchKeyword: 'Sports', postalCode: '48201'});" class="suggest">Sports</a>
            <a ng-click="$ctrl.passDefined({searchKeyword: 'Festival', postalCode: '48201'});" class="suggest">Festivals</a>
            <a ng-click="$ctrl.passDefined({searchKeyword: 'City', postalCode: '48201'});" class="suggest">Community Events</a>
            <a ng-click="$ctrl.passDefined({searchKeyword: 'Arts', postalCode: '48201'});" class="suggest">Community Art</a>
            <a ng-click="$ctrl.passDefined({searchKeyword: 'Country', postalCode: '48201'});" class="suggest">Country Music</a>
        </div>
    </section>
    </section>
</section>