<section class="home-container">
    <section class="home-body">
        <header-tool></header-tool>
        <section class="greeting">
            <h1><span class="smaller">Hello.</span>
                <span class="tracking-in-expand">
                    <span class="color1">I</span><span class="color2">'</span><span class="color3">m</span> <span class="color4">E</span><span
                        class="color5">r</span><span class="color6">i</span><span class="color7">c</span><span class="color8">a</span><span
                        class="color9">.</span>
                </span>
            </h1>

            <p class="body-text">
                I'm a design-oriented front-end developer. I aim to create immersive and beautiful web applications with a focus on user-centered design.
            </p>
            <p class="body-text">
                In addition to development work, I also do photography and graphic design. I enjoy getting my hands into everything. If I'm creating
                something new, I am happy!
            </p>
            <p class="body-text">
                When I'm not hanging out on the web, you can find me riding my bike,
                cooking up new recipes, or renovating another part of my house.
            </p>
            <button onClick="window.open('https://github.com/ComeAlongErica');">GitHub</button>

        </section>
    </section>
    <section class="image-container">
    </section>
</section>