body {
    font-family: 'Roboto', sans-serif;
    color: #1F292C;
}

/* page change animation */
.slideup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
}
.slideup.ng-enter,
.slideup.ng-leave {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.slideup.ng-enter {
    top: 100%;
}
.slideup.ng-enter-active {
    top: 0;
}
.slideup.ng-leave {
    top: 0;
}
.slideup.ng-leave-active {
    top: -100%;
}

header { 
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.top-line {
    position: absolute;
    top: 0;
    height: 5px;
    width: 100vw;
    background-color: #608CB0;
    z-index: 500;
}

.social-icons {
    /* position: absolute;
    bottom: 20px;
    left: 20px; */
}

i {
    color: #608CB0;
    font-size: 20px;
    margin-left: 20px;
    transition: 0.3s;
}

i:hover {
    color: rgba(31, 41, 44, .5);
    cursor: pointer;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 0 10px;
    color: rgba(31, 41, 44, .5);
    transition: 0.3s;
    font-weight: 500;
}

a:hover {
    color: #608CB0;
    text-decoration: underline;
}

.logo {
    padding: 20px;
    height: 40px;
}
.nav {
    margin: 20px;
}

.home-container {
    display: flex;
    flex-direction: row;
    background-color: rgb(247, 247, 247);
}

.home-body {
    margin: 0;
    flex-grow: 1;
    height: 100vh;
}

.greeting {
    margin: 30px 100px;
    width: 600px;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 125px;
    margin: 50px 0 30px 0;
}

.smaller {
    font-size: 50px;
    display: block;
}

.body-text{
    line-height: 25px;
    margin-bottom: 20px;
}

.color1, .color2, .color3, .color4, .color5, .color6, .color7, .color8, .color9 {
    transition: color 0.3s ease;
}
.color1:hover {
    color: #00B697;
    cursor: default;
}
.color2:hover {
    color: #009CAD;
    cursor: default;
}
.color3:hover {
    color: #3879B1;
    cursor: default;
}
.color4:hover {
    color: rgb(70, 123, 192);
    cursor: default;
}
.color5:hover {
    color: #3879B1;
    cursor: default;
}
.color6:hover {
    color: #009CAD;
    cursor: default;
}
.color7:hover {
    color: #00B697;
    cursor: default;
}
.color8:hover {
    color: #00C884;
    cursor: default;
}
.color9:hover {
    color: #C6C600;
    cursor: default;
}

.image-container {
    margin: 0;
    max-width: 500px;
    width: 40%;
    height: 100vh;
    /* background-image: url("../images/justcompandcoffee.svg"); */
    background-image: url("../images/justcompandcoffee.svg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

button {
    margin-top: 20px;
    font-size: 20px;
    width: 200px;
    padding: 15px;
    color: #608CB0;
    border: 3px solid #608CB0;
    border-radius: 5px;
    background-color: rgb(247, 247, 247);
    box-shadow: inset 0 0 0 0 #608CB0;
    transition: ease-out 0.4s;
}

button:hover {
    color: rgb(247, 247, 247);
    cursor: pointer;
    background-color: #608CB0;
    box-shadow: inset 0 100px 0 0 #608CB0;
}

@media only screen and (max-width: 971px) {

    header {
        height: 40px;
        position: absolute;
        top: 0;
        width: 100vw;
    }

    .home-container {
        flex-direction: column-reverse;
    }

    .home-body {
        margin: 0 auto;
        flex-grow: 1;
        height: 100vh;
        width: 100vw;
    }

    .image-container {
        margin: 0;
        width: 100%;
        max-width: 100vw;
        height: 300px;
    }

    .greeting {
        width: auto;
    }
    
    h1 {
        font-family: 'Roboto Slab', serif;
        font-size: 125px;
        margin: 50px 0 30px 0;
    }
    
    .smaller {
        text-align: left;
        font-size: 50px;
        display: block;
    }
    
}

@media only screen and (max-width: 500px) {
    .greeting {
        margin: 20px 30px;
    }

    h1 {
        font-size: 70px;
    }

    button {
        width: 100%;
    }
}