body {
    font-family: 'Roboto', sans-serif;
    color: #1F292C;
    background-color: rgb(247, 247, 247);
}

/* page change animation */
.fade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}

header { 
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 500;
}

.top-line {
    position: absolute;
    top: 0;
    height: 5px;
    width: 100vw;
    background-color: #608CB0;
    z-index: 500;
}

.social-icons {
    position: fixed;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(247, 247, 247, .5);
    bottom: 0;
    left: 0;
    z-index: 100;
}

i {
    color: #608CB0;
    font-size: 20px;
    margin-left: 20px;
    transition: 0.3s;
}

i:hover {
    color: rgba(31, 41, 44, .5);
    cursor: pointer;
}

.navlink {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 0 10px;
    color: rgba(31, 41, 44, .5);
    transition: 0.3s;
    font-weight: 500;
}

.navlink:hover {
    color: #608CB0;
    text-decoration: underline;
}

.body-link {
    padding: 0;
    color: #608CB0;
    text-decoration: none;
    border-bottom: solid 1px rgba(115,115,115,.2);
    transition: border-color 170ms ease-in-out;
}

.body-link:hover {
    border-bottom: solid 1px rgb(115,115,115);
}

.logo {
    padding: 20px;
    height: 40px;
}
.nav {
    margin: 20px;
}

.home-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(247, 247, 247);
}

.home-body {
    margin: 0;
    flex-grow: 1;
    height: 100vh;
}

.greeting {
    margin: 30px 10px 30px 80px;
    width: 600px;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 125px;
    margin: 50px 0 30px 0;
}

.smaller {
    font-size: 50px;
    display: block;
}

.body-text{
    line-height: 25px;
    margin-bottom: 20px;
}

.color1, .color2, .color3, .color4, .color5, .color6, .color7, .color8, .color9 {
    transition: color 0.3s ease;
}
.color1:hover {
    color: #00B697;
    cursor: default;
}
.color2:hover {
    color: #009CAD;
    cursor: default;
}
.color3:hover {
    color: #3879B1;
    cursor: default;
}
.color4:hover {
    color: rgb(70, 123, 192);
    cursor: default;
}
.color5:hover {
    color: #3879B1;
    cursor: default;
}
.color6:hover {
    color: #009CAD;
    cursor: default;
}
.color7:hover {
    color: #00B697;
    cursor: default;
}
.color8:hover {
    color: #00C884;
    cursor: default;
}
.color9:hover {
    color: #C6C600;
    cursor: default;
}

.image-container {
    margin: 0;
    width: 45%;
    height: 100vh;
    background-image: url("../images/blackandwhiteport.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

button {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 20px;
    width: 200px;
    padding: 15px;
    color: #608CB0;
    border: 3px solid #608CB0;
    border-radius: 5px;
    background-color: rgb(247, 247, 247);
    box-shadow: inset 0 0 0 0 #608CB0;
    transition: ease-out 0.4s;
}

button:hover {
    color: rgb(247, 247, 247);
    cursor: pointer;
    background-color: #608CB0;
    box-shadow: inset 0 100px 0 0 #608CB0;
}

/* project display */

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.project-display {
    position: relative;
    text-align: center;
    overflow: hidden;
    margin: 10px;
    width: 250px;
    height: 150px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.project-display:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.project-img {
    max-width: 100%;
}

.img-link {
    color: #608CB0;
    margin: 0;
    font-weight: 700;
    text-decoration: none;
    border-bottom: solid 1px rgba(115,115,115,.2);
    transition: border-color 170ms ease-in-out;
}

.img-link:hover {
    border-bottom: solid 1px rgb(115,115,115);
}

.img-link:hover {
    color: #608CB0;
    margin: 0;
}

.hide {
    display: none;
    transition: 1s  all;

}

.overlay {
    transition: 1s  all;
    background-color: rgba(31, 41, 44, .8);
    height: 150px;
    width: 100%;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
}

.project-info {
    position: absolute;
    bottom: 0;
    padding: 15px;
}

.project-name {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.project-description, .project-github {
    color: white;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 15px;
}

.project-github {
    margin: 10px;
}


@media only screen and (max-width: 971px) {

    .greeting {
        width: auto;
        position: absolute;
        top: 300px;
    }
    .image-container {
        position: absolute;
        top: 0;
        height: 300px;
        min-width: 100vw;
    }

    header {
        position: absolute;
        width: 100vw;
        top: 0;
    }

    .home-body {
        margin: 0 auto;
        flex-grow: 1;
        height: 100vh;
        width: 100vw;
    }
    
    h1 {
        font-family: 'Roboto Slab', serif;
        font-size: 125px;
        margin: 50px 0 30px 0;
    }
    
    .smaller {
        text-align: left;
        font-size: 50px;
        display: block;
    }

}

@media only screen and (max-width : 736px) {
    .greeting {
        position: absolute;
        top: 200px;
    }
    .image-container {
        position: absolute;
        top: 0;
        height: 200px;
    }

    header {
        position: absolute;
        top: 0;
    }

    h1 {
        font-size: 70px;
    }

    button {
        width: 100%;
    }

}

@media only screen and (max-width : 500px) {

    h1 {
        font-size: 70px;
    }

    .greeting {
        margin: 30px 20px;
        position: absolute;
        top: 200px;
    }

    .image-container {
        position: absolute;
        top: 0;
        height: 200px;
    }

    header {
        position: absolute;
        top: 0;
    }

    .nav {
        display: flex;
        flex-direction: column;
    }
     .navlink {
         padding: 20px;
     }
     
}