<section class="home-container">
    <section class="home-body">
        <header-tool></header-tool>
        <section class="greeting">
            <h1><span class="smaller tracking-in-expand">Contact</span></h1>
            <p class="body-text">Send me a message to discuss a project or form a friendship.</p>
            <form action="https://formspree.io/ericaraephoto@gmail.com" method="POST">
                <p class="form-top-text">Name</p>
                <input name="name">
                <p class="form-text">E-mail*</p>
                <input type="email" name="_replyto" required>
                <p class="form-text">What do you want to work on together?</p>
                <textarea name="message"></textarea>
                <button type="submit">Submit :)</button>
            </form>

        </section>
    </section>
    <section class="image-container">
    </section>
</section>