<section class="home-container">
    <section class="home-body">
        <header-tool></header-tool>
        <section class="greeting">
            <h1><span class="smaller">Contact:</span> Coming Soon!</h1>
            <p class="body-text">I'm preparing something amazing and exciting for you. In the meantime, you can find my
                work below.</p>
            <button onClick="window.open('https://github.com/ComeAlongErica');">GitHub</button>
        </section>
    </section>
    <section class="image-container">
    </section>
</section>