<section class="home-container">
    <section class="home-body">
        <header-tool></header-tool>
        <section class="greeting">
            <h1><span class="smaller">Let's grab coffee!</span></h1>
            <p class="body-text">Send me a message to discuss a project or form a friendship.</p>
            <form action="https://formspree.io/ericaraephoto@gmail.com" method="POST">
                <p class="form-top-text">Name</p>
                <input placeholder="Name" name="name">
                <p class="form-text">E-mail*</p>
                <input placeholder="E-mail" type="email" name="_replyto" required>
                <p class="form-text">It's 40 years in the future and you have revolutionized your field. What's your legend?</p>
                <textarea name="message"></textarea>
                <p class="form-text">Anything else you'd like to share?</p>
                <textarea name="message"></textarea>
                <button type="submit">Submit :)</button>
            </form>

        </section>
    </section>
    <section class="image-container">
    </section>
</section>