<section class="home-container">
    <section class="home-body">
        <header-tool></header-tool>
        <section class="greeting">
            <h1><span class="smaller tracking-in-expand">Projects</span></h1>
            <section class="project-container">
                <section dom-fun class="project-display" ng-repeat="project in $ctrl.projectDisplay track by $index">
                    <img class="project-img" ng-src="{{project.img}}" alt="{{project.alt}}">
                    <section class="overlay hide">
                        <section class="project-info">
                            <p class="project-name">{{project.name}}</p>
                            <p class="project-description">{{project.description}}</p>
                            <p class="project-github"><a class="fake-button" ng-href="{{project.url}}" target="_blank">View Project</a></p>
                            <p class="project-github">Read more on <a class="img-link" ng-href="{{project.github}}" target="_blank">GitHub</a></p>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <section class="image-container">
    </section>
</section>